.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font: bold 1.4rem/120% arial;
  text-transform: uppercase;
  margin: 2rem 0 0 0;
}

.nav-item {
  flex-basis: calc(50% - 13px);
  flex-shrink: 0;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-item:not(.active) {
  margin-top: 2px;
  border-bottom: 2px solid rgb(85, 85, 85);
  padding-top: 0;
  margin-top: calc(0.5rem + 2px);
}

.nav-item:not(.active):first-child {
  border-bottom-right-radius: 10px;
  margin-left: 12px;
  border-right: 2px solid rgb(85, 85, 85);
  margin-right: -1px;
  margin-bottom: -2px;
}

.nav-item:not(.active):last-child {
  border-bottom-left-radius: 10px;
  margin-right: 12px;
  border-left: 2px solid rgb(85, 85, 85);
  margin-left: -1px;
  margin-bottom: -2px;
}

.nav-item.active {
  border-top: 2px solid rgb(85, 85, 85);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 0;
  margin-bottom: calc(0.5rem + 2px);
  position: relative;
}

.nav-item.active:first-child {
  border-left: 2px solid rgb(85, 85, 85);
  border-right: 2px solid rgb(85, 85, 85);
  padding-left: 10px;
  margin-right: -1px;
}

.nav-item.active:first-child::after {
  position: absolute;
  content: "";
  left: -2px;
  bottom: -22px;
  width: 2px;
  height: 22px;
  box-sizing: border-box;
  border-right: 2px solid rgb(85, 85, 85);
}

.nav-item.active:last-child {
  border-right: 2px solid rgb(85, 85, 85);
  border-left: 2px solid rgb(85, 85, 85);
  padding-right: 10px;
  margin-left: -1px;
}

.nav-item.active:last-child::after {
  position: absolute;
  content: "";
  right: -2px;
  bottom: -22px;
  width: 2px;
  height: 22px;
  box-sizing: border-box;
  border-right: 2px solid rgb(85, 85, 85);
}

.nav-link {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.nav-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-bottom-item {
  flex-basis: 10px;
  height: 10px;
  flex-shrink: 0;
}

.nav-bottom-item:not(.active):first-child {
  border-left: 2px solid rgb(85, 85, 85);
  border-top: 2px solid rgb(85, 85, 85);
  border-top-left-radius: 10px;
}

.nav-bottom-item:not(.active):last-child {
  border-right: 2px solid rgb(85, 85, 85);
  border-top: 2px solid rgb(85, 85, 85);
  border-top-right-radius: 10px;
}

@media(max-width: 319px) {
  .navbar-nav {
    font-size: 0.5rem;
  }
}

@media((min-width: 320px) and (max-width: 575px)) {
  .navbar-nav {
    font-size: calc(3.66vw - 3.49px);
  }
}

@media(min-width: 576px) {
  .navbar-nav {
    font-size: 1.1rem;
  }
}

@media(min-width: 768px) {
  .navbar-nav {
    font-size: 1.4rem;
  }
}